@font-face {
    font-family: "Mont";
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
    font-display: block;
}

@font-face {
    font-family: "Mont-sb";
    src: url('../fonts/Montserrat/Montserrat-SemiBold.ttf');
    font-display: block;
}

@font-face {
    font-family: "Mont-b";
    src: url('../fonts/Montserrat/Montserrat-Bold.ttf');
    font-display: block;
}